<ng-sidebar-container style="height: 100vh">

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="sidebarOpened"
                position="right"
                animate=true
                keyClose=true
                class="text-center">
      <p class="lead text-warning pt-4">Details</p>
      
      <table metadatatable class="text-left mx-4">
        <tbody>
            <tr namecolumn>
                <td class="text-warning pr-3">name:</td>
                <td>{{filename}}&nbsp;</td>
            </tr>
            <tr metadatacolumn *ngFor="let map of getIterableMetadata()">
                <td class="text-warning pr-4">{{map.key}}:</td>
                <td>{{map.value}}&nbsp;</td>
            </tr>
        </tbody>
      </table>
      <button class="my-3 btn btn-outline-warning" (click)="closeSidebar()">Close</button>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <router-outlet></router-outlet>
        <br>
        <br>
        <div class="container mt-4">
            <div class="row" *ngFor="let row of getDisplayItems()">
                <ng-container *ngFor="let item of row.items">
                    <app-element class="col-xs-12 col-md-2"
                                [element]="item"
                                [contextMenu]="basicMenu"
                                [contextMenuSubject]="item"
                                (navigated)="navigateDown($event)"
                                (fileDownloaded)="downloadElement($event)"
                                (elementClicked)="onClicked($event)">
                    </app-element>
                </ng-container>
            </div>
        </div>
    </div>
</ng-sidebar-container>

<context-menu>
    <ng-template contextMenuItem let-item (execute)="downloadElement($event.item)">
        <div *ngIf='!item.isFolder'>
            <fa-icon class="d-inline mr-2 text-dark" [icon]="faDownload"></fa-icon>
            <p class="lead d-inline text-dark">Download</p>
        </div>
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="addTag.openModal($event.item)">
        <div *ngIf='!item.isFolder'>
            <fa-icon class="d-inline mr-2 text-dark" [icon]="faTag"></fa-icon>
            <p class="lead d-inline text-dark">Add Tag</p>
        </div>
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="renameModal.openModal($event.item)">
        <fa-icon class="d-inline mr-2 text-dark" [icon]="faEdit"></fa-icon>
        <p class="lead d-inline text-dark">Rename</p>
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="deleteElement($event.item)">
        <fa-icon class="d-inline mr-2 text-danger" [icon]="faTrashAlt"></fa-icon>
        <p class="lead text-danger d-inline">Remove</p>
    </ng-template>
</context-menu>

<app-rename-file #renameModal></app-rename-file>
<app-add-tag #addTag></app-add-tag>

<!-- Footer to show navigation -->
<footer class="footer">
    <!-- Left Arrow with Element Path -->
    <ol class="breadcrumb bg-dark text-white">
      <li class="breadcrumb-item">
        <a appHighlight class="nav-link" (click)="navigateUp()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </a>
      </li>
      <li class="active mt-2 text-white" aria-current="page">{{ getCurrentPath() }}</li>
    </ol>
</footer>