<router-outlet></router-outlet>
<br>
<br>
<div class="container mt-4">
    <div class="row" *ngFor="let row of getDisplayItems()">
        <ng-container *ngFor="let item of row.items">
            <app-element class="col-xs-12 col-md-2"
                         [element]="item"
                         [contextMenu]="basicMenu"
                         [contextMenuSubject]="item"
                         (navigated)="navigateDown($event)"
                         (fileDownloaded)="downloadElement($event)">
            </app-element>
        </ng-container>
    </div>
</div>

<context-menu>
    <ng-template contextMenuItem let-item (execute)="downloadElement($event.item)">
        <fa-icon class="d-inline mr-2 text-dark" [icon]="faDownload"></fa-icon>
        <p class="lead d-inline text-dark">Download</p>
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="renameModal.openModal($event.item)">
        <fa-icon class="d-inline mr-2 text-dark" [icon]="faEdit"></fa-icon>
        <p class="lead d-inline text-dark">Rename</p>
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="deleteElement($event.item)">
        <fa-icon class="d-inline mr-2 text-danger" [icon]="faTrashAlt"></fa-icon>
        <p class="lead text-danger d-inline">Remove</p>
    </ng-template>
</context-menu>

<app-rename-file #renameModal></app-rename-file>

<!-- Footer to show navigation -->
<footer class="footer">
    <!-- Left Arrow with Element Path -->
    <ol class="breadcrumb bg-dark text-white">
      <li class="breadcrumb-item">
        <a appHighlight class="nav-link" (click)="navigateUp()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </a>
      </li>
      <li class="breadcrumb-item active mt-2 text-white" aria-current="page">{{ getCurrentPath() }}</li>
    </ol>
</footer>