<div class="container mt-4">
    <div class="row" *ngFor="let row of displayItems">
        <ng-container *ngFor="let item of row.items">
            <app-element class="col-xs-12 col-md-2"
                         [element]="item"
                         [contextMenu]="basicMenu"
                         [contextMenuSubject]="item">
            </app-element>
        </ng-container>
    </div>
</div>

<context-menu>
    <ng-template contextMenuItem let-item (execute)="onOpenRenameDialog($event)">
        <fa-icon class="d-inline mr-2 text-dark" [icon]="faEdit"></fa-icon>
        <p class="lead d-inline text-dark">Rename</p>
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="deleteElement($event.item)">
        <fa-icon class="d-inline mr-2 text-danger" [icon]="faTrashAlt"></fa-icon>
        <p class="lead text-danger d-inline">Remove</p>
    </ng-template>
</context-menu>

<!-- Rename File Modal -->
<ng-template #renameFile>
    <div class="modal-header">
      <h4 class="modal-title pull-left">You want to rename {{ item.getName() }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><fa-icon [icon]="faEdit"></fa-icon></span>
        </div>
        <input type="text" class="form-control" placeholder="New name..." #renameInput>
      </div>
      <div class="input-group mb-3 justify-content-center">
        <button type="button" class="btn btn-outline-success mx-3"
                (click)="onOpenRenameDialog(renameInput.value)">Rename</button>
  
        <button type="button" class="btn btn-outline-danger mx-3"
                (click)="modalRef.hide()">Close</button>
      </div>
    </div>
  </ng-template>
