<app-cockpit></app-cockpit>
<br>
<br>
<app-file-explorer [mediaFiles]="getFileElements()"
                   (navigatedDown)="navigateToFolder($event)"></app-file-explorer>

<!-- Footer to show navigation -->
<footer class="footer" *ngIf="getCurrentPath()">
    <!-- Left Arrow with Element Path -->
    <ol class="breadcrumb bg-dark text-white">
      <li class="breadcrumb-item">
        <a appHighlight class="nav-link" (click)="navigateUp()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </a>
      </li>
      <li class="breadcrumb-item active mt-2 text-white" aria-current="page">{{ getCurrentPath() }}</li>
    </ol>
</footer>