<app-cockpit></app-cockpit>
<br>
<br>
<app-file-explorer [mediaFiles]="fileElements"
                   (navigatedDown)="navigateToFolder($event)"></app-file-explorer>

<!-- Footer to show navigation -->
<footer class="footer">
    <!-- Left Arrow with Element Path -->
    <ol class="breadcrumb bg-dark text-white">
      <li class="breadcrumb-item" *ngIf="canNavigateUp">
        <a appHighlight class="nav-link" (click)="navigateUp()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </a>
      </li>
      <li class="breadcrumb-item active mt-2 text-white" aria-current="page">Musik</li>
      <li class="breadcrumb-item active mt-2 text-white" aria-current="page">Eminem</li>
      <li class="breadcrumb-item active mt-2 text-white" aria-current="page">Recovery</li>
    </ol>
</footer>