<!-- Create Folder Modal -->
<ng-template #createFolder>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create new folder</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faFolderPlus"></fa-icon></span>
      </div>
      <input type="text" class="form-control" placeholder="Folder name" #folderNameInput>
    </div>
    <div class="input-group mb-3 justify-content-center">
      <button type="button" class="btn btn-outline-success mx-3"
              (click)="onOpenCreateFolderDialog(folderNameInput.value)">Create</button>

      <button type="button" class="btn btn-outline-danger mx-3"
              (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>